# Data Wrangling Exercise 2: Dealing with missing values

## Loading the Libraries

In [6]:
library(dplyr)
library(tidyr)

## Reading the Titanic CSV containg lot of missing values

In [175]:
input<-read.csv("C:\\Users\\Navneet\\Downloads\\titanic_original.csv")

In [176]:
glimpse(input)

Observations: 1,310
Variables: 14
$ pclass    <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ survived  <int> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, ...
$ name      <fctr> Allen, Miss. Elisabeth Walton, Allison, Master. Hudson T...
$ sex       <fctr> female, male, female, male, female, male, female, male, ...
$ age       <dbl> 29.0000, 0.9167, 2.0000, 30.0000, 25.0000, 48.0000, 63.00...
$ sibsp     <int> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...
$ parch     <int> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...
$ ticket    <fctr> 24160, 113781, 113781, 113781, 113781, 19952, 13502, 112...
$ fare      <dbl> 211.3375, 151.5500, 151.5500, 151.5500, 151.5500, 26.5500...
$ cabin     <fctr> B5, C22 C26, C22 C26, C22 C26, C22 C26, E12, D7, A36, C1...
$ embarked  <fctr> S, S, S, S, S, S, S, S, S, C, C, C, C, S, S, S, C, C, C,...
$ boat      <fctr> 2, 11, , , , 3, 10, , D, , , 4, 9, 6, B, , , 6, 8, A, 5,...
$ body      <int> NA, NA, NA, 135, NA, NA, NA, NA, NA, 22, 124, NA, NA, NA,...
$ home.dest <fctr> St Louis, MO, Montreal, PQ / Chesterville, ON, Montreal,...

#  Port of embarkation
### The embarked column has some missing values, which are known to correspond to passengers who actually embarked at Southampton. Find the missing values and replace them with S

In [178]:
#is.na(input$embarked)
input$embarked[which(input$embarked=="")]<-'S'

# Age
### Calculated the mean of the Age column and used that value to populate the missing values

In [182]:
mean_age<-input %>% summarise(mean=round(mean(age,na.rm=TRUE),digits=2))
typeof(unlist(mean_age))

[1] "double"

In [192]:
input$age[is.na(input$age)]<-unlist(mean_age)

# Boat
### Fill these empty slots with a dummy value e.g. the string 'None' or 'NA'

In [184]:
input$boat<-as.character(input$boat)
input$boat[which(input$boat=="")]<-'NA'
input$boat<-as.factor(input$boat)
#is.na(input$boat)

# Looking at the distribution of passengers in different lifeboats

In [196]:
input %>% group_by(boat) %>% count(boat)%>%arrange(desc(n))

   boat    n
1  NA      824
2  13       39
3  C        38
4  15       37
5  14       33
6  4        31
7  10       29
8  5        27
9  3        26
10 11       25
11 9        25
12 16       23
13 7        23
14 8        23
15 6        20
16 D        20
17 12       19
18 2        13
19 A        11
20 B         9
21 1         5
22 13 15     2
23 5 7       2
24 C D       2
25 13 15 B   1
26 15 16     1
27 5 9       1
28 8 10      1

# Cabin
### Create a new column has_cabin_number which has 1 if there is a cabin number, and 0 otherwise.

In [198]:
input$has_cabin_number[which(input$cabin=='')]<-0
input$has_cabin_number[which(!input$cabin=='')]<-1
#%>%mutate(has_cabin_number=ifelse(!is.na(cabin),1,0))

# Output CSV

In [188]:
write.csv(input,file='Titanic_clean.csv')

In [187]:
glimpse(input)

Observations: 1,310
Variables: 15
$ pclass           <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
$ survived         <int> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,...
$ name             <fctr> Allen, Miss. Elisabeth Walton, Allison, Master. H...
$ sex              <fctr> female, male, female, male, female, male, female,...
$ age              <dbl> 29.0000, 0.9167, 2.0000, 30.0000, 25.0000, 48.0000...
$ sibsp            <int> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0,...
$ parch            <int> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,...
$ ticket           <fctr> 24160, 113781, 113781, 113781, 113781, 19952, 135...
$ fare             <dbl> 211.3375, 151.5500, 151.5500, 151.5500, 151.5500, ...
$ cabin            <fctr> B5, C22 C26, C22 C26, C22 C26, C22 C26, E12, D7, ...
$ embarked         <fctr> S, S, S, S, S, S, S, S, S, C, C, C, C, S, S, S, C...
$ boat             <fctr> 2, 11, NA, NA, NA, 3, 10, NA, D, NA, NA, 4, 9, 6,...
$ body             <int> NA, NA, NA, 135, NA, NA, NA, NA, NA, 22, 124, NA, ...
$ home.dest        <fctr> St Louis, MO, Montreal, PQ / Chesterville, ON, Mo...
$ has_cabin_number <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,...